<h1>New Session</h1>
<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username:
  <input type="text" name="user[username]" value="<%= @user.username%>">
  </label>
  <label>Password:
  <input type="text" name="user[passsword]" value="<%= @user.password%>">
  </label>


</form>