/* PHASE 1: Header */

body {
    font-family: 'Syne Tactile', cursive;
    font-weight: normal;
    font-size: 16px;
    background: #eee;
}

.header {
    background-color: rgb(197, 122, 122);
    color: #fff;
    border-bottom: 1px solid #ccc;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    color: rgb(66, 197, 66);
    cursor: pointer;
    left: auto;
    right: auto;
    margin: 0 auto;
    width: 900px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.header-logo {
    font-weight: bold;
    font-size: 50px;
    border: 1px solid red;
    padding: 20px;
}

.header-logo:hover {
    background: #000;
}

.header-list {
    display: flex;
}
.header-list > li {
    border-left: 1px solid #ccc;
}

.header-list > li:hover {
    background-color: gray;
}

li {
    color: purple;
}