<button class="follow-toggle" data-user-id="<%= user.id %>" 
  <% if current_user.follows?(user) %>
    data-initial-follow-state="followed"
  <% else %>
    data-initial-follow-state="unfollowed"
   <% end %>
></button>
