.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 30px 15px; 
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: flex-end;
}

.left-nav {

  > ul {
    > li {
      font-family: inherit;
      font-size: inherit;
      text-transform: inherit;
    }
  }

  span {
    margin: 0 20px 0 10px;
  }
}
.right-nav  {

  > ul {

    > li {
      margin: 0 2px 0 2px;
    }

    > li:last-of-type {
      font-size: 20px;
      position: relative;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
